body {
    background-color: black;
    color: white;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif; 
}

.pet-card {
    display: inline-block;
    text-align: center;
    padding: 1%;
    margin: 1%;
    
}

.card-img-top {
    height: 250px;
    width: 100%;
    object-fit: cover;
    object-position: 0 0;
    margin: 0 auto;
    padding: 0%;
    /* padding-top: 3%; */
    
}

.card-header {
    color :white;
    font-size: 20pt;
}

.card-footer {
    color: black;
}
 
.pet-skill {
    font-size: 12pt;
}

#buttons {
    padding: 1%;
    margin: 1%;
}

#cat {
    background-color: lightskyblue;
}

#dog {
    background-color: lightgreen;
}

#dino {
    background-color: goldenrod;
}

#pets {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

